@model Northwind.EntityModels.Category
@{
    ViewData["Title"] = "Category Information";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>

<h2>Category details</h2>
<div class="category-box">
    <dl>
        <img src="~/images/category@(Model.CategoryId).jpg" alt="@Model.CategoryName" style="width: 18rem;" />
        <dt>Category Id</dt>
        <dd>@Model.CategoryId</dd>

        <dt>Category Name</dt>
        <dd>@Model.CategoryName</dd>

        <dt>Category Description</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>